<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28420943106-1erm0lhu594ikfq2vhkfnjulqpbughuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28420943106-1erm0lhu594ikfq2vhkfnjulqpbughuh</string>
	<key>API_KEY</key>
	<string>AIzaSyDakchzUpAR_bqZfnU9OdmLqVBSfSFT_S0</string>
	<key>GCM_SENDER_ID</key>
	<string>28420943106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.log</string>
	<key>PROJECT_ID</key>
	<string>flutter-2e6d5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-2e6d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28420943106:ios:4b73bb3573b7575f43661b</string>
</dict>
</plist>